
body {
  margin: 0;
  background-color: var(--color-bg-page);
  color: var(--color-text);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  font-family: sans-serif;
}


main {
  background-color: var(--color-bg-card);
  padding: calc(var(--spacing) * 2);
  width: 350px;

  border-radius: var(--radius-lg);

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}


input {
  width: 90%;
  padding: var(--spacing);
  border-radius: var(--radius-sm);

  border: 1px solid rgb(223, 212, 212);
  background-color: rgb(223, 212, 212);
  color: var(--color-text);

  outline: none;

  transition: border var(--transition-speed) var(--transition-ease);
}

input:focus {
  border: 1px solid var(--color-accent-1);
}


button {
  width: 100%;
  padding: var(--spacing);

  border: none;
  border-radius: var(--radius-sm);

  font-weight: bold;
  color: rgb(255, 255, 255);

  background-image: linear-gradient(
    90deg,
    var(--color-accent-1),
    var(--color-accent-2)
  );

  cursor: pointer;

  transition:
    transform var(--transition-speed) var(--transition-ease),
    opacity var(--transition-speed) var(--transition-ease);
}

button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
