:root {
  
 --gradient-page: linear-gradient(135deg, #7028e47b, rgb(26, 74, 163));
--color-bg-card: #ffffff;
  --color-text: #000000;

  --color-accent-1: #7b2ff7;
  --color-accent-2: #0475e6;

  
  --radius-sm: 8px;
  --radius-lg: 20px;
  --spacing: 16px;

  
  --transition-speed: 0.3s;
  --transition-ease: ease-in-out;
}

body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--gradient-page);
  color: var(--color-text);
}

